<h1>Home#index</h1>

<div class="form">
<%= simple_form_for :user, url: update_path do |form| %>
<%= form.input :name, autofocus: true %>
<%= form.input :email %>
<%= form.input :content, as: :text %>
<%= form.button :submit, 'Submit', class: 'submit' %>
<% end %>
</div>